* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
  overflow: auto;
}
section {
  padding: 20px;
  background-color: darkorange;
  height: fit-content;
}
section .status h1 {
  padding: 4px 3px;
  background-color: rgb(241, 134, 156);
}
section .takeshow .divTake {
  background: red;
  padding: 15px;
}
section .takeshow .divShow {
  margin-top: 20px;
}
.divShow article {
  padding: 4px 5px;
  background-color: darkcyan;
  margin-top: 5px;
}
h1 {
  text-align: center;
}
